# CE.SDK license — never commit real keys
# Get a free trial: https://img.ly/forms/free-trial
#
# Used by:
#   VITE_CESDK_LICENSE  — Vite UI (if a browser engine path is added)
#   CESDK_LICENSE       — preferred by headless `npm run render:catalog`
# The batch renderer also accepts VITE_CESDK_LICENSE as a fallback.
VITE_CESDK_LICENSE=YOUR_LICENSE_KEY_HERE
# CESDK_LICENSE=YOUR_LICENSE_KEY_HERE
